@import url("https://use.typekit.net/iip7dxx.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000000;
    background-color: #ffffff;
    font-size: 14px;
    /*font-family: "Istok Web";*/
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    /*  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;*/
}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-style: normal;
    font-weight: 700;
}

h1 {
    font-family: myriad-pro, sans-serif;
    text-transform: uppercase;
}

.line-break {
    display: block;
}


/*  HEADER  */

.brand {
    padding-top: 25px;
    padding-bottom: 25px;
}

.logo {
    width: 219px;
    height: 52px;
}

.brand .phone-row {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

@media screen and (min-width: 576px) {
    .brand .phone-row {
        margin-top: 0;
    }
}

.brand .phone-nr {
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #a2d69d;
    font-weight: bold;
}

.brand .caption-mid {
    font-size: 14px;
    color: #393e46;
    margin-bottom: 0;
    line-height: 16px;
}

.brand .caption-bottom {
    font-size: 14px;
    color: #7cc576;
    margin-bottom: 0;
}

@media screen and (min-width: 992px) {
    .brand .phone-nr {
        font-size: 22px;
        line-height: normal;
    }

    .brand .caption-mid {
        font-size: 18px;
        line-height: normal;
    }

    .brand .caption-bottom {
        font-size: 18px;
    }
}

.brand .phone-icon {
    width: 21px;
    height: 21px;
    margin-right: 5px;
}


/*   NAV   */

.nav-header {
    position: relative;
}

.navigation {
    background-color: #393e46;

    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    width: 100%;
}

.primary-menu {}

.primary-menu .mobile-menu {
    display: block;
    font-size: 24px;
    text-align: right;
    margin-right: 30px;
    color: #ffffff;
    margin-top: 15px;
    padding-bottom: 15px;
}

.primary-menu .mobile-menu img {
	width: 26px;
	height: 23px;
	margin-left: auto;
}

.primary-menu ul {
    padding-bottom: 15px;
    display: none;
}

.primary-menu li {
    text-align: right;
}

.primary-menu li a {
    display: inline-block;
    color: #ffffff;
    width: 200px;
    text-align: center;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    transition: 700ms;
}

.primary-menu li a:hover {
    background-color: #7cc576;
    color: #393e46;
}

@media screen and (min-width: 576px) {
    .primary-menu ul {
        display: block;
        padding-bottom: 0;
    }

    .primary-menu .mobile-menu {
        display: none;
    }

    .primary-menu li {
        display: inline-block;

    }

    .primary-menu li a {
        width: auto;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media screen and (min-width: 768px) {
    .primary-menu li a {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .primary-menu li a {}
}

/*  BANNER  */

.banner {
    background-image: url("../img/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 100px 0 12% 0;
}

@media screen and (min-width: 576px) {
    .banner {
        padding: 13% 0;
    }
}

.banner h1 {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 0;
}

.banner .footnote {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
}

.banner .btn {
    text-transform: uppercase;
    text-align: center;
    background-color: #7cc576;
    height: 40px;
    min-width: 150px;
    border-radius: 0;
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
}

.banner .btn:hover,
.services .btn:hover,
.how-we-work .btn:hover,
.about-us .btn:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    /*background-color: #7cc576;*/
    /*color: #393e46 ;*/
}

@media screen and (min-width: 576px) {
    .banner h1 {
        font-size: 52px;
        line-height: 46px;

    }

    .banner .footnote {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .banner h1 {
        font-size: 67px;
        line-height: 57px;
        margin-bottom: -5px;
    }

    .banner .footnote {
        font-size: 28px;
    }
}


/*  SERVICES  */

.services {
    padding-top: 60px;
    padding-bottom: 80px;
}

.services h2,
.how-we-work h2,
.our-customers h2,
.about-us h2,
.encouragement h2 {
    color: #393e46;
}

.services .serv-header,
.how-we-work .how-we-work-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.services .serv-header h3,
.how-we-work .how-we-work-header h3,
.our-customers .customers-header h3,
.encouragement .encouragement-header h3 {
    margin-bottom: 60px;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 21px;
    color: #7e7e7e;
    font-weight: 500;
}

.services .serv-header .bottom-border,
.localisation .bottom-border,
.how-we-work .how-we-work-header .bottom-border,
.our-customers .customers-header .bottom-border,
.about-us .text-container .bottom-border,
.encouragement .encouragement-header .bottom-border {
    border-bottom: 2.375px solid #7cc576;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: inline-block;
    line-height: 38px;
}

.services .serv-card {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 60px;
}

.services .serv-card img {
    width: 53px;
    height: 53px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.services .serv-card h4 {
    text-transform: none;
    font-size: 18px;
    letter-spacing: 1px;
    color: #222831;
    margin-bottom: 10px;
}

.services .serv-card p {
    letter-spacing: 1px;
    line-height: 23px;
    color: #7e7e7e;
}

.services .btn-wrap {
    text-align: center;
}

.services .btn,
.how-we-work .btn,
.about-us .btn {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #7cc576;
    border: 2px solid;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    font-size: 14px;
    height: 40px;
    min-width: 150px;
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
    .services .serv-card {
        text-align: left;
    }

    .services .serv-card img {
        margin-left: 0;
        margin-right: 0;
    }
}


/*   LOCALISATION   */


.localisation {
    width: 100%;
    background-color: #222831;
    color: #eeeeee;
    display: flex;
    flex-wrap: wrap;
}

.loc-map-container {
    width: 100%;
    background-image: url("../img/map-example.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 300px;
}

.localisation .loc-text-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.loc-text-wrap {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 576px) {
    .localisation .loc-text-container {
        width: 270px;
        padding-right: 0;
        margin-left: auto;
    }

    .loc-map-container {
        width: 50%;
        min-height: 0;
    }

    .loc-text-wrap {
        padding-right: 30px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 768px) {
    .localisation .loc-text-container {
        width: 360px;
    }
}

@media screen and (min-width: 992px) {
    .localisation .loc-text-container {
        width: 480px;
    }
}

@media screen and (min-width: 1200px) {
    .localisation .loc-text-container {
        width: 570px;
    }
}


.localisation .loc-text-container p,
.localisation .loc-text-container p~span {
    letter-spacing: 1px;
    line-height: 23px;
    color: #eeeeee;
}

.localisation .loc-text-container span {
    font-weight: 700;
}



/*   HOW WE WORK  */


.how-we-work {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}



.how-we-work .bottom-content h3 {
    font-size: 24px;
    line-height: 37px;
    color: #393e46;
    text-transform: none;
    margin-top: 40px;
    margin-bottom: 15px;
}

.how-we-work .bottom-content p,
.our-customers .customers-header p,
.about-us .text-container p {
    font-size: 14px;
    line-height: 22px;
    color: #393e46;
    margin-bottom: 40px;
}


/*   OUR CUSTOMERS   */

.our-customers {
    padding-top: 50px;
    padding-bottom: 50px;
}

.our-customers .customers-header {
    margin-bottom: 50px;
}

.our-customers .bg-green {
    background-color: #7cc576;
}

.our-customers .company-logo {
    max-width: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 576px) {
    .our-customers .company-logo {
        max-width: 180px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.our-customers .company-logo img {
    filter: grayscale(100%) opacity(80%);
    /*filter: brightness(0) invert(100%) opacity(80%);*/
}

/*   ABOUT US   */


.about-us .text-container,
.about-us .photos {
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-us .photos {
    position: relative;
}

.about-us .photos .smaller-img {
    position: absolute;
    top: 60%;
    left: 60%;
}


/*   ENCOURAGEMENT  */


.encouragement {
    margin-top: 50px;
    margin-bottom: 50px;
}



/*   FOOTER   */



.footer {
    background-color: #222831;
    padding-top: 50px;
    color: #eeeeee;
    font-size: 14px;
    line-height: 22px;
}

.footer .footer-about img {
    margin-bottom: 30px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.footer .footer-localisation,
.footer .footer-contact {
    padding-top: 20px;
}

.footer .footer-localisation h4,
.footer .footer-contact h4 {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: left;
}

.footer .footer-localisation ul {
    letter-spacing: 1px;
}

.footer .contact-row {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

.footer .contact-row p {
    margin-bottom: 0;
    letter-spacing: 1px;
    word-break: break-word;
}

.footer .footer-icon {
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.footer .green-line {
    display: block;
    height: 3px;
    width: 50%;
    border-radius: 3px;
    background-color: #7cc576;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer .creators {
    letter-spacing: 1px;
}

.footer .creators a {
    color: #eeeeee;
}

.footer .creators a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}