.custom-owl-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

@media screen and (min-width: 576px) {
.custom-owl-container {
	width: 90%;
}

}

.owl-nav {
    display: flex;
    justify-content: space-between;
}

.owl-prev,
.owl-next {
    height: 30px;
    width: 30px;
    background-color: #7cc576 !important;
    border-radius: 50%;
}

.owl-prev {
    position: absolute;
    top: calc(50% - 15px);
    left: -45px;
}

.owl-next {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(100% + 15px);
}

.owl-prev:focus,
.owl-next:focus {
    outline: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #6bb576 !important;
}

.owl-prev:hover,
.owl-next:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #6bb576 !important;
}

.owl-prev span,
.owl-next span {


}

.owl-prev span img,
.owl-next span img {
	height: 14px;
	width: 8px;
	margin: auto;
}